 /* .into-img{
    opacity: 0.8;   
 }
 .img{
    position: relative;
    top: 0;
 }
 .textonimg{
    background-color: aliceblue;
    position: absolute;
    top: 20;
 } */

 .HomePage-typewriter {
   display: inline;
   text-align: left;
 }