





.fontsz{
  font-family: "Raleway", sans-serif ;
font-weight: bold;
color: #173b6c;

}

.fontfam{
  font-family:"Open Sans",sans-serif;
}

  .line {
    position: relative;
    line-height: 1.7;
  }
  .line::before {
    content: '';
    position: absolute;
    bottom: 0; left: 1;
    top: 10;
    width: 70px;
    height: 5px;
    background-color: #0d6efd
  }
  .linesc {
    position: relative;
    line-height: 2;
  }
  .linesc::before {
    content: '';
    position: absolute;
    bottom: 0; left: 4;
    top: 10;
    width: 80px;
    height: 5px;
    background-color: rgb(22, 101, 249);
  }


 